In [9]:
import random

In [6]:
names = []


#student_1....student_50

for i in range (1, 51):
  names.append('student_'+ str(i))

print(names)

['student_1', 'student_2', 'student_3', 'student_4', 'student_5', 'student_6', 'student_7', 'student_8', 'student_9', 'student_10', 'student_11', 'student_12', 'student_13', 'student_14', 'student_15', 'student_16', 'student_17', 'student_18', 'student_19', 'student_20', 'student_21', 'student_22', 'student_23', 'student_24', 'student_25', 'student_26', 'student_27', 'student_28', 'student_29', 'student_30', 'student_31', 'student_32', 'student_33', 'student_34', 'student_35', 'student_36', 'student_37', 'student_38', 'student_39', 'student_40', 'student_41', 'student_42', 'student_43', 'student_44', 'student_45', 'student_46', 'student_47', 'student_48', 'student_49', 'student_50']

In [13]:
random.seed(3)
birth_year = []

for i in range(50):
  birth_year.append(random.randint(1988,2002))

print(birth_year)

[1991, 1997, 1996, 1990, 1993, 2002, 1997, 1995, 1998, 1997, 1989, 1997, 1988, 2002, 2001, 1995, 1992, 1996, 1991, 1991, 1999, 1995, 1996, 2001, 1996, 1995, 1994, 1998, 2001, 1990, 1991, 1998, 1990, 2001, 2002, 1996, 1994, 1999, 1988, 1998, 2000, 1989, 1990, 2000, 1997, 1988, 1992, 2000, 1988, 2001]

In [14]:
b2 = []

for i in range(50):
  b2.append(random.randrange(1988,2002))

print(b2)

[2001, 1992, 1995, 1997, 1999, 1994, 1999, 2000, 1994, 1994, 1999, 2000, 1997, 1995, 1990, 1993, 1989, 1988, 1990, 1995, 1991, 1992, 1998, 1994, 2000, 1998, 2001, 1992, 1994, 1996, 2001, 1994, 1997, 1993, 1996, 1997, 1994, 1997, 1991, 1993, 1998, 1988, 2001, 1992, 1997, 1998, 1999, 1990, 1999, 2001]

In [18]:
student_attitude = []

num = 0

while num < 50:
  student_attitude.append(random.choice(['Positive','Neutral','Negative']))
  num +=1

print(student_attitude)
print(len(student_attitude))

['Negative', 'Positive', 'Negative', 'Neutral', 'Neutral', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Neutral', 'Positive', 'Positive', 'Neutral', 'Neutral', 'Negative', 'Positive', 'Positive', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Neutral', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Neutral', 'Neutral', 'Positive', 'Neutral', 'Positive', 'Positive', 'Neutral', 'Neutral', 'Positive', 'Negative', 'Neutral', 'Positive', 'Neutral']
50

In [20]:
student_score = []

for i in range(50):
  student_score.append(random.randint(0,101))

print(student_score)

[39, 79, 40, 59, 100, 36, 97, 59, 36, 16, 93, 99, 21, 15, 14, 34, 38, 6, 72, 61, 40, 79, 84, 65, 79, 21, 11, 59, 9, 21, 28, 2, 84, 99, 63, 13, 32, 15, 39, 80, 96, 66, 51, 39, 21, 53, 6, 37, 75, 37]